//Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1020px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1400px;
$breakpoint-largest: 2500px;
$breakpoint-mobile: 480px;


// student CSS 

.side-bar-profile{
  @media (min-width: $breakpoint-tablet) {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 1500px;
  }
}

.profile-landscape{
  @media (min-width: $breakpoint-tablet) {
    left: 200px;
  }
  @media (min-width: $breakpoint-laptop) {
    left: 255px;
  }
  @media (min-width: $breakpoint-desktop) {
    left: 380px;
  }
  @media (min-width: $breakpoint-large-desktop) {
    left: 380px;
  }
  @media (min-width: $breakpoint-largest) {
    left: 640px;
  }
  .personal-information{
    .role-name{
      text-transform: uppercase;
    }
  }
}

.right-section-profile{
  margin: 100px 0;
}

.students-container{
  //padding: 145px 50px;
  .students-profile-card {
    margin-top: 150px;
    .profile-card-img {
      // background-image: url("");
      height:175px;
      // background-size: cover;
    }
  }
  
  .students-quiz-section {
    margin:100px auto;
    .quiz-img {
      width:240px;
    }
  }

  .timeline-section, .toppers-section{
    margin: 100px auto;
  }
  
  .students-progressbar {
    margin:auto;
    margin-top:10px;
    height:10px;
    background-color:rgb(190,190,190);
    margin-bottom:10px;
    width:20%;
  }
  
}

.collaborator-choice-section{    
  margin-top: 100px;
  margin-bottom:100px;
}

.img-rounded {
  border-radius:3px;
}

.navigation-column{
  margin-top: 5rem;
}

// library section starts
.library-section {
  margin-top: 100px;
  margin-bottom:90px;
  .blog-post-img{
    height: 150px;
    width: auto;
  }
  .library-img {
    width:240px;
  }
  .library-updates {
    margin-top:35px;
  }
}
// library section ends

// learning curev timline ....
.badge-pill {
  padding-right: 0.6em;
  padding-left: 1.6em;
  border-radius: 9rem;
}
// learning curev timline ends ....


// institite profile style
.institute-container{
  .institute-library-card {
    margin-bottom:200px;
    .library-img {
      width:240px;
    }
  }

  .institute-ourworkflow-card{
    .online-courses {
      margin-bottom:100px;
    }
    .workflow-heading {
      height:100px;
    }
  }
  
  .institute-updates-card {
    background-color:#b3e8de;    
    margin: 200px auto;
    padding: 0;
    .updates-image {
      background-color:white;
    }
  }
  
  .institute-profile-card {
    background-color:#ffffff;
    height:100vh;
    .profile-card-img {
      // background-image:url("iceland.jpg");
      height:150px;
      background-size:cover;
    }
    .profilecard-para {
      padding:20px;
      padding-bottom:0;
      padding-top:5px;
    }
    .profilepara-right {
      margin-left:25px;
    }  
    .profilepara-left {
      margin-right:25px;
    }
    .profilecard-button {
      background-color:rgb(179,232,222);
      margin-top:10px;
      margin-bottom:10px;
    }    
  }
}

// Recent Events Section 
.info-box {
  display: block;
  cursor: pointer;
  min-height: 91px;
  background: #fff;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  margin-bottom: 15px;
  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 75px;
    background: rgba(0,0,0,0.2);
  }
  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
      .info-box-text{
        display: block;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
// Recent events ssection ends

// Topper Section Starts
.table{
  td, th{
    vertical-align: middle;
  }
}
.trophy-img{
  vertical-align: middle;
  max-width: 48%;
  max-height: 40%;
}
// Topper Section Ends



