<div class="bg-light blog-slider mt-4">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
            <div></div>
            <div class="blog-slider__img"><img src="../../../assets/img/1.png" /></div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">GREYED OUT TEXT 1</span>
                <div class="blog-slider__title">HEADING in slide 1</div>
                <div class="blog-slider__text"> Some greyed out paragraph text</div>
                <a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
            </div>
        </div>

        <div class="blog-slider__item swiper-slide">
            <div></div>
            <div class="blog-slider__img"><img src="../../../assets/img/2.png" /></div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">GREYED OUT TEXT 2</span>
                <div class="blog-slider__title">HEADING in slide 2</div>
                <div class="blog-slider__text"> Some greyed out paragraph text</div>
                <a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
            </div>
        </div>

        <div class="blog-slider__item swiper-slide">
            <div></div>
            <div class="blog-slider__img"><img src="../../../assets/img/3.png" /></div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">GREYED OUT TEXT 3</span>
                <div class="blog-slider__title">HEADING in slide 3</div>
                <div class="blog-slider__text"> Some greyed out paragraph text</div>
                <a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
            </div>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
</div>

<!-- WHY WE HERE SECTION STARTS -->
<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="intro">
                    <h2>Why are we here?</h2>
                    <p>We are an educational platform in a mission to create an ecosystem which breeds young minds and
                        help them pursue their hobby in electronics & robotics. There is a lot of talk around robotics
                        and the web has become a dumping ground of such stories. We are here to solve that exact
                        problem. We aim to clear the clutter and provide a platform for students to guide them through
                        their road to learning.</p><a class="btn btn-primary" role="button" href="#">MORE ABOUT US</a>
                </div>
            </div>
            <div class="col-sm-5 text-right">
                <img class="device" src="../../../assets/bg/landingBigBanner.svg" />
                <!-- <div class="d-none d-md-block iphone-mockup"><img class="device" src="iphone.svg" />
                  <div class="screen"></div>
              </div> -->
            </div>
        </div>
    </div>
</div>

<!-- WHY WE HERE SECTION ENDS -->

<!-- HAT WE PROVIDE STARTS -->
<div class="team-clean bg-light">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">What do we provide? </h2>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle"
                    src="../../../assets/landing/LandingPage_libraryIcon.svg" />
                <h3 class="name">LIBRARY </h3>
                <p class="description">It is called a library, because it is one! Apart from the usual click bait
                    articles, you will find every other article as a valuable source to strengthen your knowledge in the
                    subject.</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle"
                    src="../../../assets/landing/LandingPage_projectIcon.svg" />
                <h3 class="name">PROJECTS </h3>
                <p class="description">This is where the fun part comes. Apply the lesson learnt! We welcome all the
                    nerdy heads out there to collaborate with us and be a part of exciting projects which will help you
                    pursue a career in modern technology. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle"
                    src="../../../assets/landing/LandingPage_Marketplace.svg" />
                <h3 class="name">MARKET</h3>
                <p class="description">We have built a marketplace for all that you need to make believe the idea in
                    your head. Checkout the shop section in the website and find your item in need. Also, in the name of
                    good hope, we will start manufacturing the products which we believe might take off in the market.
                </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>

<!-- WHAT WE PROVIDE ENDS -->

<!-- LETS GET STARTED SECTION STARTS -->
<div class="container my-5">
    <h2 class="text-left pb-3">Let's get started! <br> </h2>
    <!-- <h3 class="text-left pb-3"> Choose what best suits you. </h3> -->
    <div class="row mt-5 text-left">
        <div class="col-sm-12 col-md-12 col-lg-12 " id="scroll" style=" cursor: pointer;">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="text-center mb-5">
                        <img src="../../../assets/landing/student.png" style="width:110px;">

                    </div>
                </div>
                <div class="col-12 col-md-8 text-center text-md-left">
                    <div class="">
                        <h3>Student</h3>
                        <p>{{roleDescription[0]}}</p>
                        <!-- <button class="btn btn-common mt-3">Sign Up</button> -->
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center mb-5">
                        <img src="../../../assets/landing/collaborator.jpg" style="width:170px;">

                    </div>
                </div>
                <div class="col-12 col-md-8 text-center text-md-left">
                    <div class="">
                        <h3>Collaborator</h3>
                        <p>{{roleDescription[1]}}</p>
                        <!-- <button class="btn btn-common mt-3">Sign Up</button> -->
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center mb-3">
                        <img src="../../../assets/landing/institution.png" style="width:100px;">

                    </div>
                </div>
                <div class="col-12 col-md-8 text-center text-md-left">
                    <div class="">
                        <h3>School/College</h3>
                        <p>{{roleDescription[2]}}</p>
                        <!-- <button class="btn btn-common mt-3">Sign Up</button> -->
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-common btn-lg mt-3">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- LETS GET STRTED SECTION ENDS -->

<!-- UPCOMING EVENTS STARTED-->
<div class="blog-home2 py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="my-3">Upcoming Events</h3>
                <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer
                    services will be great experience for you without doubt</h6>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4"><a href="#"><img class="card-img-top"
                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img3.jpg"
                            alt="wrappixel kit" /></a>
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Oct<span class="d-block">23</span></div>
                    <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">You should have
                            eagle’s eye on new trends and techonogies</a></h5>
                    <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p><a href="#"
                        class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
                </div>
            </div>
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4"><a href="#"><img class="card-img-top"
                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img2.jpg"
                            alt="wrappixel kit" /></a>
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Oct<span class="d-block">23</span></div>
                    <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">New Seminar on
                            Newest Food Recipe from World’s Best</a></h5>
                    <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p><a href="#"
                        class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
                </div>
            </div>
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4"><a href="#"><img class="card-img-top"
                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img1.jpg"
                            alt="wrappixel kit" /></a>
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Oct<span class="d-block">23</span></div>
                    <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Learn from small
                            things to create something bigger.</a></h5>
                    <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p><a href="#"
                        class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UPCOMING EVENTS END -->

<!-- CLIENT CAROUSEL STARTS -->

<!-- CLIENT CAROUSEL ENDS -->

<!-- TESTIMOONIAL STARTS -->

<!-- TESTIMONIAL ENDS -->

<!--  LOGIN STARTS -->

<!--  LOGIN ENDS -->